<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke" verbose="3" parallel="tests" thread-count="3">
    <test name="Smoke on google chrome">
        <parameter name="browser" value="chrome"></parameter>
        <!--parameter name="mode" value="headless"></parameter-->
        <parameter name="mode" value="standard"></parameter>
        <parameter name="userLogIn" value="chromeAutoTesterLogIn"></parameter>
        <parameter name="userPassword" value="chromeAutoTesterPassword"></parameter>
        <parameter name="currentBranch" value="currentBranch"></parameter>
        <parameter name="rowNumber" value="1"></parameter>
        <parameter name="firstInvoice" value="1"></parameter>
        <parameter name="lastInvoice" value="3"></parameter>
        <classes>
            <class name="Tests.Invoices"/>
            <class name="Tests.Settings"/>
        </classes>
    </test>
    <test name="Smoke on firefox ">
        <parameter name="browser" value="firefox"></parameter>
        <!--parameter name="mode" value="headless"></parameter-->
        <parameter name="mode" value="standard"></parameter>
        <parameter name="userLogIn" value="firefoxAutoTesterLogIn"></parameter>
        <parameter name="userPassword" value="firefoxAutoTesterPassword"></parameter>
        <parameter name="currentBranch" value="currentBranch"></parameter>
        <parameter name="rowNumber" value="2"></parameter>
        <parameter name="firstInvoice" value="4"></parameter>
        <parameter name="lastInvoice" value="6"></parameter>
        <groups>
            <run>
                <include name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="Tests.Invoices"/>
            <class name="Tests.Settings"/>
        </classes>
    </test>
    <test name="Smoke on edge ">
        <parameter name="browser" value="edge"></parameter>
        <!--parameter name="mode" value="headless"></parameter-->
        <parameter name="mode" value="standard"></parameter>
        <parameter name="userLogIn" value="edgeAutoTesterLogIn"></parameter>
        <parameter name="userPassword" value="edgeAutoTesterPassword"></parameter>
        <parameter name="currentBranch" value="currentBranch"></parameter>
        <parameter name="rowNumber" value="3"></parameter>
        <parameter name="firstInvoice" value="7"></parameter>
        <parameter name="lastInvoice" value="9"></parameter>
        <classes>
            <class name="Tests.Invoices"/>
            <class name="Tests.Settings"/>
        </classes>
    </test>
</suite>
